body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #000000;
}

.container {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #000000;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #000000; 
    border-radius: 5px;
    width: calc(100% - 22px);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff; 
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333333;
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #000000; 
